name: CI

on:
  pull_request:
  push:

jobs:
  go-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Run tests
        run: |
          go test ./...

      - name: Run example builds
        run: |
          go test -tags examples ./...

  docker-image-tests:
    runs-on: ubuntu-latest
    needs: go-test
    steps:
      - uses: actions/checkout@v6

      - name: Build image
        run: |
          docker build -t hyrouter:test .
